@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%;
}

input,
textarea, select {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}

input:focus,
textarea:focus, select:focus {
    @apply border-blue-900;
}

.editor {
    @apply border-2 border-gray-300 rounded-md w-full;
    @apply mb-2;
}

h1 {
    @apply text-blue-900 mb-2 text-xl;
}

label {
    @apply text-blue-900;
}

.btn-primary {
    @apply bg-primary text-white px-4 py-1 rounded-sm;

}

table.basic {
    @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td {
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
    @apply px-4 py-1;
}

table.basic a {
    @apply bg-blue-900 text-white text-sm p-1 px-2 rounded-md inline-flex gap-1 mr-1;
}

.btn-red,
.btn-default {

    @apply px-4 py-1 rounded-md
}

.btn-red {
    @apply bg-red-600 text-white
}

.btn-default {
    @apply bg-gray-400 text-white
}
