@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%;
}

input,
textarea,
select {
    @apply border border-0 shadow-md rounded-sm px-1 w-full py-2 px-3 bg-inputColor text-white;
    @apply shadow-sm;
    @apply mb-2;
}


input:focus,
textarea:focus,
select:focus {
    @apply border-blue-900;
}

.editor {
    @apply border-2 border-gray-300 rounded-md w-full;
    @apply mb-2;
}

h1 {
    @apply text-gray-800 mb-4 text-xl;
}

label {
    @apply text-gray-300;
}

.btn-primary {
    @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;

}

table.basic {
    @apply w-full bg-tableBg rounded-sm shadow-md;
}

table.basic thead tr td {
    @apply text-sm text-primary uppercase border-b border-gray-700 px-4 py-2;
}

table.basic tr td {
    @apply px-4 py-1 text-white ;
}

table.basic a {
    @apply  px-4 rounded-sm inline-flex my-1 mx-1 items-center gap-1  text-sm py-1 shadow-sm;
}

.btn-red,
.btn-default {

    @apply px-4 py-1 rounded-md
}

.btn-red {
    @apply bg-red-500 text-white px-4 py-1 rounded-sm shadow-sm
}

.btn-default {
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm
}

.conversation-bubble {
    position: relative;
  }
  

  .custom-scrollbar {
    /* Cambia los colores según tus preferencias */
    scrollbar-width: thin;
    scrollbar-color: #4d61fc #f3f4f6; /* Color del pulgar y color de fondo de la barra */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento */
    
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4d61fc; /* Color del pulgar */
    border-radius: 3px; /* Bordes redondeados del pulgar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Color de fondo de la barra */
  }